@charset "UTF-8";
	/********************[상단   부분]*******************/
	#BlockChain_banner{
		height: 150px;
		width:110%;
		background-color: #dcd9ec;
		display:table;
		margin-left:-80px;
	}
	
	#BlockChain_banner h2{
	 	font-size: 50px;
		font-weight: 700;
		line-height: 120px;
		color:  #453e82;
	}
	#BlockChain_banner img{
		height:70px;
		margin-left:20px;
		margin-bottom:10px;
	}
	
	/*********************[내용 부분]**************************/
	#BlockMain_empty{
		 margin-top:40px;
	}
	.block_search {
		margin-bottom: 20px;
		line-height: 20px;
		width: 70%px;
		height: 35px;
		border-radius: 25px;
		border: 2px solid gainsboro;
	}
	.search {
		border-right: none;
		width: 95%;
		height: 100%;
		font-size: 12px;
		color: gainsboro;
		float: right;
		display: inline;
		outline: none;
		border: none;
		background-color: transparent;
	}
	#search_btn {
		display: inline;
		width: 5%;
		outline: none;
		height: 100%;
		background-image: url("../FTBC_Images/search.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 15px;
		color: white;
		background-color: transparent;
		border: none;
		cursor: pointer;
	}